.PlayPageContent {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap:10vh ;

  button {
    width: 20vw;
    height: clamp(75px, 10vh, 120px);
    border-radius: 10px;
    font-size: 2vw;
    background: linear-gradient(245deg,rgb(189, 215, 245) 0%, rgb(218, 211, 253) 100%);
    border-color: rgb(164, 202, 247);
  }
}

.Content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10vh;

  .DirectionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    .DirectionButton {
      display: block;
      width: 20vw;
      height: 10vh;
      font-size: 2vw;
      color: black;
    }
  }
}

.EventContent {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;

  .Square {
    display: flex;
    flex-direction: column;
    gap: 10vh;

    button {
      width: 20vw;
      height: 10vh;
      background: linear-gradient(245deg,rgb(189, 215, 245) 0%, rgb(218, 211, 253) 100%);
      font-size: clamp(20px, 2vh, 2vw);
    }
  }
}

.Instructions {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.TopBar {
  width: 100vw;
  height: clamp(35px, 10vh, 55px);
  background-color: rgba(232, 255, 255, 0.171);
  position: fixed;
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  flex-direction: row;

  font-size: clamp(15px, 5vh, 25px);
}

.Difficulty {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  width: 30vw;
  font-size: 1vw;

  
  button {
    width: 15vw;
    height: clamp(50px, 5vh, 100px);
    border-radius: 10px;
    background: linear-gradient(245deg,rgb(189, 215, 245) 0%, rgb(218, 211, 253) 100%);
    border-color: rgb(164, 202, 247);
    font-size: 2vw;
  }

  h1 {
    margin: 0;
    width: auto;
  }
}

.Backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 30vw;
  height: 95vh;
  border-radius: 20px;
  display: flex;
  font-size: clamp(5px,1vw,50px);
  flex-direction: column;
  gap: auto;
  justify-content: space-evenly;
  align-items: center;
}

.Selection {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
